

html {
    font-family: 'Poppins', sans-serif;

}

.title {
    text-transform: uppercase;
    text-align: center;
}

a {
    color: #007172;
    
}



/* este es el bloque de fondo*/
.container {
background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
display: flex;
align-items: center;
justify-content: center;


}
/* este es el bloque contenedor*/
.content {
    max-width: 1000px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: #F4E2DE;
    box-shadow: 3px 3px 6px #6e1202;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    

}


.actions {

    position: absolute;
    top: 1em;
    right: 1em;

}

.close {
    background-color: #6e1202;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tablita {
    width: 100%;
    border-spacing: 0;
}

.tablita td, .tablita th {
    padding: 1em;
    text-align: left;
}

.tablita tr:nth-child(even) {

    background-color: #fdcece;
    
}

.fa-star {
    color: #ffae00;
}

.subtitulo {
    /*border-bottom-style: solid;
    border-width: 2px;
    border-color: #ff6a00; */
    border-bottom: solid 2px #ff6a00;
    padding-bottom: 1em;
    font-size: 2em;

    
}

.position {
    background-color: #ff6a00;
    padding: 10px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    margin-right: 0.5em;
}

a:hover {
    opacity: 0.8;
    color: #c019b2;
    font-size: 17px;
}

.address {
    color: #4d0237;
    font-weight: bold;
    font-size: 1.2em;
}

.main-image {
    float: left;
    margin-right: 1em;
    height: 300px;
    border-radius: 20px;
}